/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/

#root {
  /*max-width: 1280px;*/
  /*margin: 0 auto;*/
  /*padding: 2rem;*/
  /*text-align: center;*/
  --header-size: 4rem;
  --form-size: 2.5rem;
  --button-size: 1.9rem;
  --emoji-size: 6rem;
  --header-big-size: 4.5rem; /*header same size but needs be adususted h3*/
  --timestamp-size: 1rem;
  --primary-color: #337ab7;
  --secondary-color: #6bc8f0;
  --highlight-color: #4CAF50;


}

body {
  font-family: Arial, sans-serif;
  /*not sure this works*/
}

/*Start of header code*/
/*Code below targets are option to navigate the page*/
header>div.container {
  text-align: right;
  box-sizing: border-box;
  max-width: 100%;
  width: 99.9%;
  /*TODO make tabes further right this code didnt do that*/
}




/*header a,*/
header button,
.btn-info,
.btn,
header button.btn.btn-lg {
  background-color: var(--secondary-color);
  color: black;
  border: 1px solid transparent;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: background-color 0.5s ease, transform 0.5s ease;


}

header button:hover,
.btn-info:hover,
.btn:hover {
  background-color: var(--highlight-color);
  color: white;
  border: 1px solid transparent;

}

body.route-me header a[href="/me"],
body.route-randomemoji header a[href="/randomemoji"],
body.route-addemoji header a[href="/addemoji"],
body.route-login header a[href="/login"],
body.route-signup header a[href="/signup"],
body.route-updateemoji header a[href="/updateemoji"],
body.route-removeemoji header a[href="/removeemoji"] {
  color: black;
  background-color: white;
}






/*Code below targets Title and sub  tile of the site*/
div>a>h1 {
  text-align: center;
  color: white;
  background-color: var(--primary-color);
}

div>p {
  text-align: center;
  color: white;
  background-color: var(--primary-color);
}

header a {
  text-decoration: none;
}

header a:hover,
header a:active {
  text-decoration: none;
}





/*controls main part of website not footer or header*/
/* 
body > div.container > {
  background-color: white;
}
  */
/*fixing the submit button size*/
.btn-block {
  width: auto;
  /* Makes the button width fit its content */
  display: inline-block;
  /* Ensures the button doesn't stretch */
  /*inline-block*/
}

.card-body>p,
.card-header {
  background-color: white;
  color: black;
}

/*Footer Stuff*/

footer {
  border-top: black dashed 1px;
}

/* general components */
div.container button {
  background-color: var(--secondary-color);
  color: black;
  border: 1px solid transparent;
  border-radius: 0;
  border-radius: 5px;
  transition: background-color 0.5s ease, transform 0.5s ease;
  cursor: pointer;

}

div.container button:hover {
  background-color: var(--highlight-color);
  color: white;
  border: 1px solid transparent;
}

.stat-box {
  border: black solid 2px;
  border-radius: 5px;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  width: 170px;
  background-color: #d3d9dc;

}


/*Home Page*/

body.route-home div.container h3 {
  text-align: center;
  font-size: var(--header-big-size);
}

body.route-home .card {
  border: black solid 2px;
  border-radius: 5px;
  margin: 15px;
}

body.route-home .card h4 {
  font-size: var(--timestamp-size);
  text-align: left;
}

body.route-home .card-body p:nth-child(1) {
  font-size: var(--emoji-size);
}

/*
body.route-home .card-body p:nth-child(2) {
  font-size: 3rem;
}
  */

/*Focuses on Profile Page*/
body.route-me > div > div > div.container h1,
body.route-me > div > div > div.container h2 {
  text-align: left;
  font-size: 1.5rem;
}
body.route-me div.container div.flex-row h2 {
  text-align: center;
  font-size: 3rem;
}

body.route-me div.container h3 {
  text-align: center;
  font-size: 3rem;
}


body.route-me .card {
  border: black solid 2px;
  border-radius: 5px;
  margin: 15px;
}

body.route-me .card h4 {
  font-size: var(--timestamp-size);
  text-align: left;
}

body.route-me .card-body p:nth-child(1) {
  font-size: var(--emoji-size);
}
/*
body.route-me .card-body p:nth-child(2) {
  font-size: 3rem;
}
  */


div>div.container>div>h1 {
  font-size: 2rem;
}

div>div.container>div>p {
  background-color: white;
  color: black;
  text-align: left;
  /*TODO Might need to change*/
}

/*Emoji Guesser*/

body.route-randomemoji div.container .col-12>div {
  text-align: center;
  font-size: var(--emoji-size);
}

body.route-randomemoji div.container .col-12>form {
  text-align: center;
  font-size: var(--form-size);
}

div>div.container>div>div p {
  background-color: white;
  color: black;
  font-size: 3rem;
}

div>div.container>div>div>div>* {
  margin-top: 3%;
  margin-bottom: 3%
}


/*Next button on Emoji Guesser Page*/
body.route-randomemoji div.container .col-12 {
  text-align: center;
}

.next {
  font-size: 3rem;
}

/*End of Next Button*/

/*Add Emoji*/
body.route-addemoji div.container main h4 {
  text-align: center;
  font-size: var(--header-size);
}

body.route-addemoji div.container .card-body {
  text-align: center;
  font-size: var(--form-size);/*1.6rem*/
}

body.route-addemoji div.container .card>h4 {
  margin-top: 2.5%;
  margin-bottom: 2.5%
}

body.route-addemoji div.container .card-body form>* {
  margin-top: 1%;
  margin-bottom: 1%
}

body.route-addemoji div.container .card-body button {
  font-size: var(--button-size);
}

/*Update Emoji*/
body.route-updateemoji div.container main h4 {
  text-align: center;
  font-size: var(--header-size);
}

body.route-updateemoji div.container .card-body {
  text-align: center;
  font-size: var(--form-size);/*2rem*/
  /*TODO improve how it looks with input fields*/
}

body.route-updateemoji div.container .card-header,
body.route-updateemoji div.container .card-body {
  margin-top: 2.5%;
  margin-bottom: 2.5%
}

body.route-updateemoji div.container .card-body button {
  font-size: var(--button-size);
}

/*Remove Emoji*/
body.route-removeemoji div.container main h4 {
  text-align: center;
  font-size: var(--header-size);
}

body.route-removeemoji div.container .card-body {
  text-align: center;
  font-size: var(--form-size);
}

body.route-removeemoji div.container .card-header,
body.route-route-removeemoji div.container .card-body {
  margin-top: 2.5%;
  margin-bottom: 2.5%
}

body.route-removeemoji div.container .card-body button{
  text-align: center;
  font-size: var(--button-size);
}

/*Login Page*/

body.route-login div.container .card {
  text-align: center;
}

body.route-login div.container .card-header {
  font-size: var(--header-size);
}

body.route-login div.container .card-body {
  font-size: var(--form-size);
}

body.route-login div.container .card-body button {
  font-size: var(--button-size);
}
/*Signup Page*/
body.route-signup div.container .card {
  text-align: center;
}

body.route-signup div.container .card-header {
  font-size: var(--header-size);
}

body.route-signup div.container .card-body {
  font-size: var(--form-size);
}

body.route-signup div.container .card-body button {
  font-size: var(--button-size);
}



/*Media size css*/
/*use to fix alignment of elements in larger webpages*/
@media (min-width: 992px) {

  div.container>div>div.flex-row {
    padding-left: 15%;
    /*use this only when big responsive works diffrent for diffrent pages over 1010, 1020*/
  }

  .home-info {
    padding-left: 17%;
    width: 100%;
    text-align: center;

  }

}

@media (min-width: 1200px) {
  div.container>main.flex-row {
    padding-left: 15%;
    /*use this only when big responsive works diffrent for diffrent pages over 1010, 1020*/
  }

}

/*changes navigate bar based on size*/
@media (max-width: 816px) {

  /*This is for basically phones*/
  header>div.container>div {
    display: flex;
    /* Enables flexbox */
    justify-content: space-between;
    /* Adjusts spacing between child elements */
    align-items: center;
    /* Aligns items vertically */
    flex-direction: column;
  }

  header>div.container>div>a,
  header>div.container>div>button {
    flex: 1 1 100;
    min-width: 0;
    /* Allows shrinking */
    width: 100%;
    /* Ensures width is flexible */
    /*font-size: 250%;*/
  }

  header>div.container {
    text-align: center;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    display: inline;
  }

  header button,
  .btn-info,
  .btn,
  header button.btn.btn-lg {
    background-color: var(--secondary-color);
    color: black;
    border: 1px solid transparent;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    transition: background-color 0.5s ease, transform 0.5s ease;


  }

  body.route-me header a[href="/me"],
  body.route-randomemoji header a[href="/randomemoji"],
  body.route-addemoji header a[href="/addemoji"],
  body.route-login header a[href="/login"],
  body.route-signup header a[href="/signup"],
  body.route-updateemoji header a[href="/updateemoji"],
  body.route-removeemoji header a[href="/removeemoji"] {
    color: black;
    background-color: var(--secondary-color);
  }

  header button:hover,
  .btn-info:hover,
  .btn:hover,
  header button.btn.btn-lg:hover,
  body.route-me header a[href="/me"]:hover,
  body.route-randomemoji header a[href="/randomemoji"]:hover,
  body.route-addemoji header a[href="/addemoji"]:hover,
  body.route-login header a[href="/login"]:hover,
  body.route-signup header a[href="/signup"]:hover,
  body.route-updateemoji header a[href="/updateemoji"]:hover,
  body.route-removeemoji header a[href="/removeemoji"]:hover {
    background-color: var(--highlight-color);
    color: white;
  }

}

@media (max-width: 406.99px) {
  * {
    width:100%;
    max-width: 100%;
  }
/*when in phone mode should resize some code to make sure its width is not too big*/
}